<div class='victim-model'>

<h1>{{this.modelData.[0].name}}</h1>
<p>{{this.modelData.[0].age}}</p>
<p>{{this.modelData.[0].gender}}</p>
<p>{{this.modelData.[0].phone}}</p>
<p>{{this.modelData.[0].email}}</p>
<p>{{this.modelData.[0].location}}</p>
<p>{{this.modelData.[0].description}}</p>

</div>
{{#if this.data}}
<p><button class='add' data-value={{this.modelData.[0].id}}>Help</button></p>
<p><button class='mark-safe' data-value={{this.modelData.[0].id}}>Mark Safe</button></p>
{{/if}}

<br>

<div class='victim-map-wrapper'>

</div>

<div id='comment-box'>
	<h1> Comments </h1>
	<input type='text area' name='comment' class='textbox' data-value={{this.modelData.[0].id}} placeholder='Enter your comments here'>
	<input value={{this.modelData.[0].id}} type='hidden' id='victim-id-comment'>

	<button class='submit-comment'>submit</button>
</div>

<div id='comment-list'>
{{#each this.modelData.[1]}}
	<div class='comment-with-name'>
		<div class= "seeker" data-value={{id}}> {{seeker_name}}</div> 
		<div class='comment-box'><p>{{description}}</p></div>
	</div>
{{/each}}
</div>


<p><button class='close'>close</button></p>

