<div id='victim-model'>

<h1>{{this.[0].name}}</h1>
<p>{{this.[0].age}}</p>
<p>{{this.[0].gender}}</p>
<p>{{this.[0].phone}}</p>
<p>{{this.[0].email}}</p>
<p>{{this.[0].location}}</p>
<p>{{this.[0].description}}</p>

</div>
{{#if seeker}}
<p><button class='add'>Help</button></p>
<p><button class='mark-safe'>Mark Safe</button></p>
{{/if}}

<br>
<div id='comment-box'>
<h1> Comments </h1>
<input type='text area' name='comment' class='textbox' placeholder='Enter your comments here'>
<button class='submit-comment'>submit</button>
</div>

<div id='comment-list'>
{{#each this.[1]}}
	<div class='comment-box'><p>{{description}}</p></div>
{{/each}}
</div>


<p><button class='close'>close</button></p>