<div id='victim-model'>
<h1>{{name}}</h1>
<p>{{age}}</p>
<p>{{gender}}</p>
<p>{{phone}}</p>
<p>{{email}}</p>
<p>{{location}}</p>
<p>{{description}}</p>
</div>
{{#if seeker}}
<p><button class='add'>Help</button></p>
<p><button class='mark-safe'>Mark Safe</button></p>
{{/if}}

<br>
<div id='comment-box'>
<h1> Comments </h1>
<input type='text area' name='comment' class='textbox' placeholder='Enter your comments here'>
<button class='submit-comment'>submit</button>
</div>

<div id='comment-list'>
</div>


<p><button class='close'>close</button></p>