				  <tr class = 'list'>
				    <td class='see-victim' data-value={{id}}>{{name}}</td>
				    <td class='see-victim' data-value={{id}}>{{location}}</td> 
				    <td class='see-victim' data-value={{id}}>{{created_at}}</td>
				  </tr>