<div class='sign'>
	{{#if seeker}}
	<p class= "hello"> Hello {{name}}</p> 
	   <button class='logout' data-value={{id}}>Log Out</button>
	     {{else}}
	        <button class='sign-up'>Sign Up</button>
	        <button class='log-in'>Log In</button>
	    {{/if}}
</div>



	<div id='search-bar'>
		<input type="text" name='name' id='name-search' placeholder='enter name'>
		
		<input type="text" name='location' id='location-search' placeholder='enter location'>

		<input id="datetimepicker" type="text" >
			
		<button class='search'>search</button>
			
			<div class="news_api">
			</div>

				<div class= "victim_list">
					<ul class="list">
						<li class='view'><a href="" data-value={{id}}>{{description}}</a></li>
					</ul>
				</div>

	</div>








